<div class="container">
	<div class="row">
		<div class="col-xs-12">	
			{{view App.ToolbarView}}
		</div>
	</div>
	<div id="order-list" class="row">
		<div class="col-xs-12">

		    <table class="table table-striped table-condensed">
		    	<tr>
			    	<th>Ordernummer</th>
			    	<th>Låntagare</th>
			    	<th>Typ</th>
			    	<th>Titel</th>
			    	<th>Leveransbibliotek</th>
			    	<th>Bibliotek</th>
			    	<th>Slutdatum</th>
			    	<th></th>
		    	</tr>
		    	{{#each item in model}}
					<tr>

		    			<td>{{#link-to 'fjarrinpost' item.order_id}}{{item.order_id}}{{/link-to}} </td>
		    			<td>{{item.name}}</td>
		    			<td>{{item.order_type}}</td>
		    			<td>{{trimString item.title}}</td>
		    			<td>{{item.delivery_place}}</td>
		    			<td>{{item.form_library}}</td>
						<td>{{item.not_valid_after}}</td>
						<td>
							{{#if item.owner }}
								<div class="btn-group">
								  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
								    <i class="fa fa-male"></i> {{item.owner}} <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu" role="menu">
								    <li><a href="#"><i class="fa fa-male"></i> {{item.owner}}</a></li>
								    <li><a href="#">Släpp order</a></li>	
								  </ul>
								</div>
							{{else}}
								<a class="btn btn-xs btn-default" href="#">ta order</a> 
							{{/if}}
						</td>
		    		</tr>
		    	{{/each}}
		    </table>
	    </div>
	</div>
 </div><!-- end container -->