<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<div class="panel panel-primary">
				<div class="panel-heading">Kund</div>
				<table class="table table-striped table-bordered table-condensed">
					<tr>
						<th>Namn: </th>
						<td>{{model.name}}</td>
					</tr>
					<tr>
						<th>company1: </th>
						<td>{{model.company1}}</td>
					</tr>
					<tr>
						<th>company2: </th>
						<td>{{model.company2}}</td>
						
					</tr>
					<tr>
						<th>company3: </th>
						<td>{{model.company3}}</td>
						
					</tr>
					<tr>
						<th>Telefon: </th>
						<td>{{model.phone_number}}</td>
						
					</tr>
					<tr>
						<th>E-post: </th>
						<td>{{model.email_address}}</td>
						
					</tr>
					<tr>
						<th>Lånekortsnummer: </th>
						<td>{{model.library_card_number}}</td>
						
					</tr>
					<tr>
						<th>Kundtyp: </th>
						<td>{{model.customer_type}}</td>
						
					</tr>
					<tr>
						<th>Kommentar: </th>
						<td>{{model.comments}}</td>
						
					</tr>
					<tr>
						<th>Formulärspråk: </th>
						<td>{{model.form_lang}}</td>
						
					</tr>
					<tr>
						<th>Fakturanamn: </th>
						<td>{{model.invoicing_name}}</td>
						
					</tr>
					<tr>
						<th>Fakturaaddress: </th>
						<td>{{model.invoicing_address}}</td>
						
					</tr>
					<tr>
						<th>invoicing_postal_address1: </th>
						<td>{{model.invoicing_postal_address1}}</td>
						
					</tr>
					<tr>
						<th>invoicing_postal_address1: </th>
						<td>{{model.invoicing_postal_address2}}</td>
						
					</tr>
		
				</table>
			</div> <!-- end panel -->
		</div>
		<div class="col-xs-4">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			  Order - {{model.orderId}} 
			 </div>

					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<td colspan="3">
								<form class="form-inline" id="single-order-toolbar">
									
									{{#if isEditing}}
										{{view Ember.Select classNames="form-control" content=locations optionValuePath="content.id" optionLabelPath="content.label" value=model.locationId}}
									{{else}}
										<button class="disabled btn btn-default">Handläggande enhet: <strong>{{model.locationId}}</strong></button>
									{{/if}}
									{{#if isEditing}}
										<button {{action 'saveOrder'}} {{bind-attr class=":pull-right :btn :btn-danger :btn-md"}}><i class="fa fa-floppy-o"></i> Spara</button>
										<button {{action 'resetOrder'}} {{bind-attr class=":pull-right :btn :btn-default :btn-md"}}><i class="fa fa-trash-o"></i> Stäng</button>
									{{else}}
										<button {{action 'enterEditMode'}} class="pull-right btn btn-default btn-md"><i class="fa fa-pencil-square-o"></i> Edit</button>
									{{/if}}
								</form>
							</td>
						</tr>
						<tr>
							<th>Titel: </th>
							<td>
								{{#if isEditing}}
									{{input classNames="form-control" type="text" value=model.title}}
								{{else}}
									{{model.title}}
								{{/if}}
							</td>
							
						</tr>
						<tr>
							<th>Författare: </th>
							<td>
								{{#if isEditing}}
									{{input classNames="form-control" type="text" value=model.author}}
								{{else}}
									{{model.author}}
								{{/if}}
							</td>
						</tr>

						<tr>
							<th>Leveransbibliotek: </th>
							<td>
								{{#if isEditing}}
									{{input classNames="form-control" type="text" value=model.deliveryPlace}}
								{{else}}
									{{model.deliveryPlace}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>ISSN / ISBN: </th>
							<td>
								{{#if isEditing}}
									{{input classNames="form-control" type="text" value=model.issnIsbn}}
								{{else}}
									{{model.issnIsbn}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>Ordertyp: </th>
							<td>
								{{#if isEditing}}
									{{input classNames="form-control" type="text" value=model.orderType}}
								{{else}}
									{{model.orderType}}
								{{/if}}
							</td>

						</tr>
						<tr>
							<th>Volym: </th>
							<td>
								{{#if isEditing}}
									{{input classNames="form-control" type="text" value=model.volume}}
								{{else}}
									{{model.volume}}
								{{/if}}
							</td>


						</tr>
						<tr>
							<th>Publikations-år: </th>
							<td>								
								{{#if isEditing}}
									{{input classNames="form-control" type="text" value=model.publicationYear}}
								{{else}}
									{{model.publicationYear}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>Nummer (issue): </th>
							<td>
								{{#if isEditing}}
									{{input classNames="form-control" type="text" value=model.issue}}
								{{else}}
									{{model.issue}}
								{{/if}}
							</td>

						</tr>
						<tr>
							<th>Sidor: </th>
							<td>
								{{#if isEditing}}
									{{input classNames="form-control" type="text" value=model.pages}}
								{{else}}
									{{model.pages}}
								{{/if}}
							</td>

						</tr>
						<tr>
							<th>Journal titel: </th>
							<td>
								{{#if isEditing}}
									{{input classNames="form-control" type="text" value=model.journalTitle}}
								{{else}}
									{{model.journalTitle}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>Kopia (om lån ej möjligt): </th>
							<td>
								{{#if isEditing}}
									{{input classNames="form-control" type="text" value=model.photocopiesIfLoanNotPossible}}
								{{else}}
									{{model.photocopiesIfLoanNotPossible}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>Utanför skandinavien: </th>
							<td>
								{{#if isEditing}}
									{{input classNames="form-control" type="text" value=model.orderOutsideScandinavia}}
								{{else}}
									{{model.orderOutsideScandinavia}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>E-post konfirmation: </th>
							<td>
								{{#if isEditing}}
									{{input classNames="form-control" type="text" value=model.emailConfirmation}}
								{{else}}
									{{model.emailConfirmation}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>Bäst-före-datum: </th>
							<td>
								{{#if isEditing}}
									{{input classNames="form-control" type="text" value=model.notValidAfter}}
								{{else}}
									{{model.notValidAfter}}
								{{/if}}
							</td>
				
						</tr>
						<tr>
							<th>Prioritet: </th>
							<td>
								{{#if isEditing}}
									{{input classNames="form-control" type="text" value=model.deliveryType}}
								{{else}}
									{{model.deliveryType}}
								{{/if}}

							</td>
						</tr>
					</table>
			</div> <!-- end panel --> 


		</div>
		<div class="col-xs-4">
			<div class="row">
				<section id="feedback">
						<div class="col-xs-12">
							<h3><i class="fa fa-letter"><i class="fa fa-envelope-o"></i>  Kommunikation</h3>
						</div>
						<form class="form col-xs-12">
							<div class="form-group">
								<select class="form-control">
								  <option>Handläggare (xljoha)</option>
								  <option>Beställare ({{model.name}})</option>
								</select>
							</div>
							<div class="form-group">
								<label class="sr-only">Rubrik:</label><input class="form-control" type="text" placeholder="rubrik"></input>
							</div>
							
							<div class="form-group">
								<label class="sr-only">Meddelande:</label>
								<textarea rows="6" class="form-control" placeholder="Här skriver du ditt meddelande..."></textarea>
							</div>
							<div class="form-group">
								<button class="btn btn-default pull-right" type="submit">Skicka</button>
							</div>
						</form>

						<div id="feedback-thread" class="col-xs-12">
							<ul class="media-list">
								<li class="media">
							        <a class="pull-left" href="#">
							          <img class="media-object img-circle" src="img/librarian.jpg">
							        </a>
							        <div class="media-body">
							          <h4 class="media-heading">Media heading <span class="badge">2014-10-10 13:38</span></h4>
							          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>  
									</div>
								</li>
							</ul>
						</div>
				</section>
			</div>
			<div class="row">
				<section id="feedback">
						<div class="col-xs-12">
							<h3><i class="fa fa-letter"><i class="fa fa-comment"></i>  Anteckningar</h3>
						</div>
						<form class="form col-xs-12">
							<div class="form-group">
								<label class="sr-only">Meddelande:</label>
								<textarea rows="6" class="form-control" placeholder="Här skriver du din anteckning..."></textarea>
							</div>
							<div class="form-group">
								<button class="btn btn-default pull-right" type="submit">Skicka</button>
							</div>
						</form>

						<div id="feedback-thread" class="col-xs-12">
							<ul class="media-list">
								<li class="media">
							        <a class="pull-left" href="#">
							          <img class="media-object img-circle" src="img/librarian.jpg">
							        </a>
							        <div class="media-body">
							          <p><span class="badge">2013-12-01 13:22</span> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
							          <!-- Nested media object -->
							         </div>
								</li>
							</ul>
						</div>
				</section>
			</div>
			<div class="row">
				<section id="external-status">

				</section>
			</div>
		</div>
	</div>
</div>