<div class="container">
	<div class="row" id="global-settings-order">
		<div class="col-xs-12">
			<!--{{#link-to 'fjarrinposts' class="btn btn-default"}}<i class="fa fa-chevron-left"></i> Tillbaka{{/link-to}} -->
			<div class="row">
				<div class="col-xs-6">
					<h2>{{model.orderId}}</h2> 
				</div>
				<div class="col-xs-6" id="global-settings-order-actions">
					{{#if isEditingGlobalOrder}}
						<a href="#" class="pull-right" {{action 'saveGlobalOrderMetaData'}}> <i class="fa fa-floppy-o"></i> </a>
						<a href="#" class="pull-right" {{action 'resetGlobalMetaData'}}> <i class="fa fa-trash-o"></i> </a>
					{{else}}
						<a href="#" class="pull-right" {{action 'enterGlobalEditMode'}}> <i class="fa fa-pencil"></i> </a>
					{{/if}}
				</div>
			</div> 
			<form class="form-inline">
				<h4>Handläggande enhet:</h4>
				{{#if isEditingGlobalOrder}}
					{{view Ember.Select classNames="form-control" content=App.locations optionValuePath="content.id" optionLabelPath="content.nameSv" value=model.locationId}}
				{{else}}
					{{getLocationName model.locationId}}
				{{/if}}

				<h4>Status: </h4> 
				{{#if isEditingGlobalOrder}}
					 {{view Ember.Select classNames="form-control" content=App.statuses optionValuePath="content.id" optionLabelPath="content.nameSv" value=model.statusId}}
				{{else}}
					{{getStatusName model.statusId}}
				{{/if}}
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<div class="panel panel-primary">
				<div class="panel-heading">Låntagare</div>
				<table class="table table-bordered table-condensed">
					<tr>
						<th>Namn: </th>
						<td>{{model.name}}</td>
					</tr>
					<tr>
						<th>company1: </th>
						<td>{{model.company1}}</td>
					</tr>
					<tr>
						<th>company2: </th>
						<td>{{model.company2}}</td>
						
					</tr>
					<tr>
						<th>company3: </th>
						<td>{{model.company3}}</td>
						
					</tr>
					<tr>
						<th>Telefon: </th>
						<td>{{model.phone_number}}</td>
						
					</tr>
					<tr>
						<th>E-post: </th>
						<td>{{model.email_address}}</td>
						
					</tr>
					<tr>
						<th>Lånekortsnummer: </th>
						<td>{{model.library_card_number}}</td>
						
					</tr>
					<tr>
						<th>Kundtyp: </th>
						<td>{{model.customer_type}}</td>
						
					</tr>
					<tr>
						<th>Kommentar: </th>
						<td>{{model.comments}}</td>
						
					</tr>
					<tr>
						<th>Formulärspråk: </th>
						<td>{{model.form_lang}}</td>
						
					</tr>
					<tr>
						<th>Fakturanamn: </th>
						<td>{{model.invoicing_name}}</td>
						
					</tr>
					<tr>
						<th>Fakturaaddress: </th>
						<td>{{model.invoicing_address}}</td>
						
					</tr>
					<tr>
						<th>invoicing_postal_address1: </th>
						<td>{{model.invoicing_postal_address1}}</td>
						
					</tr>
					<tr>
						<th>invoicing_postal_address1: </th>
						<td>{{model.invoicing_postal_address2}}</td>
						
					</tr>
		
				</table>
			</div> <!-- end panel -->
		</div>
		<div class="col-xs-4">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			  	Orderkort 
				<form class="pull-right" id="single-order-toolbar">
					{{#if isEditingOrder}}
						<a {{action 'saveOrder'}} {{bind-attr class=":pull-right"}}><i class="fa fa-floppy-o"></i></a>
						<a {{action 'resetOrder'}} {{bind-attr class=":pull-right"}}><i class="fa fa-trash-o"></i> </a>
					{{else}}
						<a {{action 'enterEditMode'}} class="pull-right"><i class="fa fa-pencil"></i> </a>
					{{/if}}
				</form>
			 </div>

					<table class="table table-bordered table-condensed">
						<tr>
							<th>Titel: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.title}}
								{{else}}
									{{model.title}}
								{{/if}}
							</td>
							
						</tr>
						<tr>
							<th>Författare: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.author}}
								{{else}}
									{{model.author}}
								{{/if}}
							</td>
						</tr>

						<tr>
							<th>Leveransbibliotek: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.deliveryPlace}}
								{{else}}
									{{model.deliveryPlace}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>ISSN / ISBN: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.issnIsbn}}
								{{else}}
									{{model.issnIsbn}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>Ordertyp: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.orderType}}
								{{else}}
									{{model.orderType}}
								{{/if}}
							</td>

						</tr>
						<tr>
							<th>Volym: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.volume}}
								{{else}}
									{{model.volume}}
								{{/if}}
							</td>


						</tr>
						<tr>
							<th>Publikations-år: </th>
							<td>								
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.publicationYear}}
								{{else}}
									{{model.publicationYear}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>Nummer (issue): </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.issue}}
								{{else}}
									{{model.issue}}
								{{/if}}
							</td>

						</tr>
						<tr>
							<th>Sidor: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.pages}}
								{{else}}
									{{model.pages}}
								{{/if}}
							</td>

						</tr>
						<tr>
							<th>Journal titel: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.journalTitle}}
								{{else}}
									{{model.journalTitle}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>Kopia (om lån ej möjligt): </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.photocopiesIfLoanNotPossible}}
								{{else}}
									{{model.photocopiesIfLoanNotPossible}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>Utanför skandinavien: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.orderOutsideScandinavia}}
								{{else}}
									{{model.orderOutsideScandinavia}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>E-post konfirmation: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.emailConfirmation}}
								{{else}}
									{{model.emailConfirmation}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>Bäst-före-datum: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.notValidAfter}}
								{{else}}
									{{model.notValidAfter}}
								{{/if}}
							</td>
				
						</tr>
						<tr>
							<th>Prioritet: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.deliveryType}}
								{{else}}
									{{model.deliveryType}}
								{{/if}}

							</td>
						</tr>
					</table>
			</div> <!-- end panel --> 


		</div>
		<div class="col-xs-4">
			<div class="row">
				<section id="feedback">
						<div class="col-xs-12">
							<h3><i class="fa fa-letter"><i class="fa fa-envelope-o"></i>  Kommunikation</h3>
						</div>
						<form class="form col-xs-12">
							<div class="form-group">
								<select class="form-control">
								  <option>Handläggare (xljoha)</option>
								  <option>Beställare ({{model.name}})</option>
								</select>
							</div>
							<div class="form-group">
								<label class="sr-only">Rubrik:</label><input class="form-control" type="text" placeholder="rubrik"></input>
							</div>
							
							<div class="form-group">
								<label class="sr-only">Meddelande:</label>
								<textarea rows="6" class="form-control" placeholder="Här skriver du ditt meddelande..."></textarea>
							</div>
							<div class="form-group">
								<button class="btn btn-default pull-right" type="submit">Skicka</button>
							</div>
						</form>

						<div id="feedback-thread" class="col-xs-12">
							<ul class="media-list">
								<li class="media">
							        <a class="pull-left" href="#">
							          <img class="media-object img-circle" src="img/librarian.jpg">
							        </a>
							        <div class="media-body">
							          <h4 class="media-heading">Media heading <span class="badge">2014-10-10 13:38</span></h4>
							          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>  
									</div>
								</li>
							</ul>
						</div>
				</section>
			</div>
			<div class="row">
				<section id="feedback">
						<div class="col-xs-12">
							<h3><i class="fa fa-letter"><i class="fa fa-comment"></i>  Anteckningar</h3>
						</div>
						<form class="form col-xs-12">
							<div class="form-group">
								<label class="sr-only">Meddelande:</label>
								<textarea rows="6" class="form-control" placeholder="Här skriver du din anteckning..."></textarea>
							</div>
							<div class="form-group">
								<button class="btn btn-default pull-right" type="submit">Skicka</button>
							</div>
						</form>

						<div id="feedback-thread" class="col-xs-12">
							<ul class="media-list">
								<li class="media">
							        <a class="pull-left" href="#">
							          <img class="media-object img-circle" src="img/librarian.jpg">
							        </a>
							        <div class="media-body">
							          <p><span class="badge">2013-12-01 13:22</span> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
							          <!-- Nested media object -->
							         </div>
								</li>
							</ul>
						</div>
				</section>
			</div>
			<div class="row">
				<section id="external-status">

				</section>
			</div>
		</div>
	</div>
</div>