<div class="container">
	<div class="row" id="global-settings-order">
		<div class="col-xs-12">
			<!--{{#link-to 'fjarrinposts' class="btn btn-default"}}<i class="fa fa-chevron-left"></i> Tillbaka{{/link-to}} -->
			<div class="row">
				<div class="col-xs-6">
					<h2>{{model.orderId}}</h2> 
				</div>
				<div class="col-xs-6" id="global-settings-order-actions">
					{{#if isEditingGlobalOrder}}
						<a href="#" class="pull-right" {{action 'saveGlobalOrderMetaData'}}> <i class="fa fa-floppy-o"></i> </a>
						<a href="#" class="pull-right" {{action 'resetGlobalMetaData'}}> <i class="fa fa-times"></i> </a>
					{{else}}
						<a href="#" class="pull-right" {{action 'enterGlobalEditMode'}}> <i class="fa fa-pencil"></i> </a>
					{{/if}}
				</div>
			</div> 
			<form class="form-inline">
				<h4>Handläggande enhet:</h4>
				{{#if isEditingGlobalOrder}}
					{{view Ember.Select classNames="form-control" content=App.locations optionValuePath="content.id" optionLabelPath="content.nameSv" value=model.locationId}}
				{{else}}
					{{getLocationName model.locationId}}
				{{/if}}

				<h4>Status: </h4> 
				{{#if isEditingGlobalOrder}}
					 {{view Ember.Select classNames="form-control" content=App.statuses optionValuePath="content.id" optionLabelPath="content.nameSv" value=model.statusId}}
				{{else}}
					{{getStatusName model.statusId}}
				{{/if}}
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
				Låntagare
				<form class="pull-right" id="single-order-toolbar">
					{{#if isEditingCustomer}}
						<a href="#" {{action 'saveCustomer'}} {{bind-attr class=":pull-right"}}><i class="fa fa-floppy-o"></i></a>
						<a href="#" {{action 'resetCustomer'}} {{bind-attr class=":pull-right"}}><i class="fa fa-times"></i> </a>
					{{else}}
						<a href="#" {{action 'enterCustomerEditMode'}} class="pull-right"><i class="fa fa-pencil"></i> </a>
					{{/if}}
				</form>
				</div>
				<table class="table table-bordered table-condensed">
					<tr>
						<th>Namn: </th>
						{{#if isEditingCustomer}}
							<td>{{input classNames="form-control" type="text" value=model.name}}</td>
						{{else}}
							<td>{{model.name}}</td>
						{{/if}}
					</tr>
					<tr>
						<th>company1: </th>
						{{#if isEditingCustomer}}
							<td>{{input classNames="form-control" type="text" value=model.company1}}</td>
						{{else}}
							<td>{{model.company1}}</td>
						{{/if}}
					</tr>
					<tr>
						<th>company2: </th>
						{{#if isEditingCustomer}}
							<td>{{input classNames="form-control" type="text" value=model.company2}}</td>
						{{else}}
							<td>{{model.company2}}</td>
						{{/if}}
						
					</tr>
					<tr>
						<th>company3: </th>
						{{#if isEditingCustomer}}
							<td>{{input classNames="form-control" type="text" value=model.company3}}</td>
						{{else}}
							<td>{{model.company3}}</td>
						{{/if}}
					</tr>
					<tr>
						<th>Telefon: </th>
						{{#if isEditingCustomer}}
							<td>{{input classNames="form-control" type="text" value=model.phone_number}}</td>
						{{else}}
							<td>{{model.phone_number}}</td>
						{{/if}}
						
					</tr>
					<tr>
						<th>E-post: </th>
						{{#if isEditingCustomer}}
							<td>{{input classNames="form-control" type="text" value=model.email_address}}</td>
						{{else}}
							<td>{{model.email_address}}</td>
						{{/if}}
					</tr>
					<tr>
						<th>Lånekortsnummer: </th>
						{{#if isEditingCustomer}}
							<td>{{input classNames="form-control" type="text" value=model.library_card_number}}</td>
						{{else}}
							<td>{{model.library_card_number}}</td>
						{{/if}}
					</tr>
					<tr>
						<th>Kundtyp: </th>
						{{#if isEditingCustomer}}
							<td>{{input classNames="form-control" type="text" value=model.customer_type}}</td>
						{{else}}
							<td>{{model.customer_type}}</td>
						{{/if}}						
					</tr>
					<tr>
						<th>Kommentar: </th>
						{{#if isEditingCustomer}}
							<td>{{input classNames="form-control" type="text" value=model.comments}}</td>
						{{else}}
							<td>{{model.comments}}</td>
						{{/if}}								
					</tr>
					<tr>
						<th>Formulärspråk: </th>
						{{#if isEditingCustomer}}
							<td>{{input classNames="form-control" type="text" value=model.form_lang}}</td>
						{{else}}
							<td>{{model.form_lang}}</td>
						{{/if}}			
					</tr>
					<tr>
						<th>Fakturanamn: </th>
						{{#if isEditingCustomer}}
							<td>{{input classNames="form-control" type="text" value=model.invoicing_name}}</td>
						{{else}}
							<td>{{model.invoicing_name}}</td>
						{{/if}}							
					</tr>
					<tr>
						<th>Fakturaaddress: </th>
						{{#if isEditingCustomer}}
							<td>{{input classNames="form-control" type="text" value=model.invoicing_address}}</td>
						{{else}}
							<td>{{model.invoicing_address}}</td>
						{{/if}}		
					</tr>
					<tr>
						<th>invoicing_postal_address1: </th>
						{{#if isEditingCustomer}}
							<td>{{input classNames="form-control" type="text" value=model.invoicing_postal_address1}}</td>
						{{else}}
							<td>{{model.invoicing_postal_address1}}</td>
						{{/if}}								
					</tr>
					<tr>
						<th>invoicing_postal_address1: </th>
						{{#if isEditingCustomer}}
							<td>{{input classNames="form-control" type="text" value=model.invoicing_postal_address2}}</td>
						{{else}}
							<td>{{model.invoicing_postal_address2}}</td>
						{{/if}}								
					</tr>
		
				</table>
			</div> <!-- end panel -->
		</div>
		<div class="col-xs-4">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			  	Orderkort 
				<form class="pull-right" id="single-order-toolbar">
					{{#if isEditingOrder}}
						<a href="#" {{action 'saveOrder'}} {{bind-attr class=":pull-right"}}><i class="fa fa-floppy-o"></i></a>
						<a href="#" {{action 'resetOrder'}} {{bind-attr class=":pull-right"}}><i class="fa fa-times"></i> </a>
					{{else}}
						<a href="#" {{action 'enterEditMode'}} class="pull-right"><i class="fa fa-pencil"></i> </a>
					{{/if}}
				</form>
			 </div>

					<table class="table table-bordered table-condensed">
						<tr>
							<th>Titel: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.title}}
								{{else}}
									{{model.title}}
								{{/if}}
							</td>
							
						</tr>
						<tr>
							<th>Författare: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.author}}
								{{else}}
									{{model.author}}
								{{/if}}
							</td>
						</tr>

						<tr>
							<th>Leveransbibliotek: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.deliveryPlace}}
								{{else}}
									{{model.deliveryPlace}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>ISSN / ISBN: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.issnIsbn}}
								{{else}}
									{{model.issnIsbn}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>Ordertyp: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.orderType}}
								{{else}}
									{{model.orderType}}
								{{/if}}
							</td>

						</tr>
						<tr>
							<th>Volym: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.volume}}
								{{else}}
									{{model.volume}}
								{{/if}}
							</td>


						</tr>
						<tr>
							<th>Publikations-år: </th>
							<td>								
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.publicationYear}}
								{{else}}
									{{model.publicationYear}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>Nummer (issue): </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.issue}}
								{{else}}
									{{model.issue}}
								{{/if}}
							</td>

						</tr>
						<tr>
							<th>Sidor: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.pages}}
								{{else}}
									{{model.pages}}
								{{/if}}
							</td>

						</tr>
						<tr>
							<th>Journal titel: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.journalTitle}}
								{{else}}
									{{model.journalTitle}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>Kopia (om lån ej möjligt): </th>
							<td>
								{{#if isEditingOrder}}
									{{view Ember.Select classNames="form-control" content=photocopiesIfLoanNotPossible optionValuePath="content.value" optionLabelPath="content.label" value=model.photocopiesIfLoanNotPossible}}
								{{else}}
									{{convertBooleanToDisplayText model.photocopiesIfLoanNotPossible}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>Utanför skandinavien: </th>
							<td>
								{{#if isEditingOrder}}
									{{view Ember.Select classNames="form-control" content=orderOutsideScandinavia optionValuePath="content.value" optionLabelPath="content.label" value=model.orderOutsideScandinavia}}
								{{else}}
									{{convertBooleanToDisplayText model.orderOutsideScandinavia}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>E-post konfirmation: </th>
							<td>
								{{#if isEditingOrder}}
									{{view Ember.Select classNames="form-control" content=emailConfirmation optionValuePath="content.value" optionLabelPath="content.label" value=model.emailConfirmation}}
								{{else}}
									{{convertBooleanToDisplayText model.emailConfirmation}}
								{{/if}}
							</td>
						</tr>
						<tr>
							<th>Bäst-före-datum: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.notValidAfter}}
								{{else}}
									{{model.notValidAfter}}
								{{/if}}
							</td>
				
						</tr>
						<tr>
							<th>Prioritet: </th>
							<td>
								{{#if isEditingOrder}}
									{{input classNames="form-control" type="text" value=model.deliveryType}}
								{{else}}
									{{model.deliveryType}}
								{{/if}}

							</td>
						</tr>
					</table>
			</div> <!-- end panel --> 


		</div>
		<div class="col-xs-4">
			<div class="row">
				<section id="feedback">
					<div class="col-xs-12">
						<ul class="nav nav-tabs">
						  <li class="active"><a href="#communication" data-toggle="tab"><i class="fa fa-envelope-o"></i> Kommunikation</a></li>
						  <li><a href="#notes" data-toggle="tab"><i class="fa fa-file-text-o"></i> Anteckningar</a></li>
						</ul>


						<div class="tab-content">
  							<div class="tab-pane active" id="communication">
								<form class="form">
									<div class="form-group">
										<select class="form-control">
										  <option>Handläggare (xljoha)</option>
										  <option>Beställare ({{model.name}})</option>
										</select>
									</div>
									<div class="form-group">
										<label class="sr-only">Rubrik:</label><input class="form-control" type="text" placeholder="rubrik"></input>
									</div>
									
									<div class="form-group">
										<label class="sr-only">Meddelande:</label>
										<textarea rows="6" class="form-control" placeholder="Här skriver du ditt meddelande..."></textarea>
									</div>
									<div class="form-group">
										<button class="btn btn-default pull-right" type="submit">Skicka</button>
									</div>
								</form>
  							</div>
  							<div class="tab-pane" id="notes">
								<form class="form">
									<div class="form-group">
										<label class="sr-only">Meddelande:</label>
										<textarea rows="6" class="form-control" placeholder="Här skriver du din anteckning..."></textarea>
									</div>
									<div class="form-group">
										<button class="btn btn-default pull-right" type="submit">Skicka</button>
									</div>
								</form>
  							</div>
  						</div>
				</section>
			</div>
			<div class="row">
				<section id="history">

					<div class="col-xs-12">
						<h5>Historik</h5>
					</div>

					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12">
								<i class="fa fa-envelope-o"></i><strong> 2014-12-12</strong> av <strong>xljoha</strong>
							</div>
							<div class="col-xs-12">
								<p>här är meddelandet som har skicats till någon stackars andvändare.. </p>
							</div>
						</div>
					</div>
					<!-- looopa ut meddalenden och epost grejer här --> 

				</section>

			</div>
		</div>
	</div>
</div>