<div id="toolbar">	
	<h5>Enhet</h5>
	{{view Ember.Select classNames="form-control" content=filter2.locations optionValuePath="content.id" optionLabelPath="content.nameSv" value=filter2.currentLocation.id}}

	<h5>Status</h5>
	{{view Ember.Select classNames="form-control" content=filter2.locations optionValuePath="content.id" optionLabelPath="content.nameSv" value=filter2.currentLocation.id}}

	<h5>Typ</h5>
	<div class="btn-group-vertical">
		<button {{action 'toggleLoan'}} {{bind-attr class=":fixed :btn :btn-md filter1.active:btn-primary:btn-default"}}>{{filter1.name}} <i  {{bind-attr class=":fa :fa-check filter1.active:visible:hidden"}}></i></button>	
		<button {{action 'toggleCopy'}} {{bind-attr class=":fixed :btn :btn-md filter3.active:btn-primary:btn-default"}}>{{filter3.name}} <i {{bind-attr class=":fa :fa-check filter3.active:visible:hidden"}}></i></button>	
	</div>
</div>